@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cava Restobar</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">

    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <link rel="stylesheet" href="/Content/custom.css">

    <script src="/Scripts/jquery-3.5.1.js"></script>
    <script src="/Scripts/custom.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="/Scripts/jquery-mask/src/jquery.mask.js"></script>
</head>
<body class="bg" style="overflow-y:scroll">
    <br />
    <br />
    <br />

    <link rel="stylesheet" href="~/Content/jquery.datetimepicker.css" />
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>

    <div id="div-reservation-handler-login-container">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link white-label p-1 d-flex justify-content-end p-3" title="CERRAR SESIÓN"><i class="bi bi-person-x">&nbsp;</i></a>
            }
        }
        else
        {
            <a id="menu-login" class="nav-link white-label p-1" href="#" title="INICIA SESIÓN"><i class="bi bi-person">&nbsp;</i></a>
        }

        @if (!string.IsNullOrEmpty(Session["msg"]?.ToString()))
        {
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2 d-none d-sm-block">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12 center-aligned">
                    <label class="white-label font-weight-bold">@Session["msg"]</label>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2 d-none d-sm-block"></div>
            </div>

            Session["msg"] = null;
        }
        @{
            if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div id="filter-container" class="card no-flex p-3" hidden="hidden">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="white-label">BÚSQUEDA</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <input id="txt-reservation-name" type="text" class="form-control no-max-width" placeholder="NOMBRE" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <input id="txt-reservation-email" type="text" class="form-control no-max-width" placeholder="CORREO ELECTRÓNICO" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 ccol-sm-12 col-xs-12">
                            <input id="txt-reservation-phone" type="text" class="form-control no-max-width" placeholder="TELÉFONO" />
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <input id="txt-reservation-date" type="text" autocomplete="off" class="form-control custom-date-admin col no-max-width" value="@DateTime.Now.Date.ToString("dd/MM/yyyy")" placeholder="FECHA DE RESERVACIÓN" />
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12">
                            <input type="hidden" id="hdn-selected-status" value="1" />
                            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-info active" id="rdb-active">
                                    <input id="rbt-active" type="radio" name="options" autocomplete="off" checked> <small>ACTIVAS</small>
                                </label>
                                <label class="btn btn-info" id="rdb-canceled">
                                    <input id="rbt-canceled" type="radio" name="options" autocomplete="off"> <small>CANCELADAS</small>
                                </label>
                                <label class="btn btn-info" id="rdb-confirmed">
                                    <input id="rbt-confirmed" type="radio" name="options" autocomplete="off"> <small>CONFIRMADAS</small>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 pt-3 pt-xl-0 pt-lg-0 pt-md-0 pt-sm-0">
                            <input id="btn-retrieve-reservations" type="button" class="btn btn-success float-right w-100" value="CONSULTAR" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label id="lbl-retrieve-tltie" class="white-label m-3">¡RESERVACIONES ACTIVAS!</label>
                    </div>
                </div>
                <hr class="custom-hr m-3" />
                <div id="div-reservation-handler-container">

                </div>
            }
            else
            {
                <br />
                <br />
                <br />
                <hr />
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2 d-none d-sm-block"></div>
                    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12">
                        <label id="lbl-login" class="btn btn-lg btn-success white-label w-100 font-weight-bold">POR FAVOR INICIA SESIÓN AQUÍ</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2 d-none d-sm-block"></div>
                </div>
            }
        }
    </div>

    <link rel="stylesheet" href="/Content/jquery.datetimepicker.css">
    <script src="/Scripts/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/reservationhandler.js"></script>
    <hr>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/Scripts/notify.js"></script>
</body>
</html>
