<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/custom.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/custom.js"></script>
</head>
<body class="bg">
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        @*<img src="~/Content/images/Icons/CAVA - INDIVIDUAL.png" class="flex-row" style="width:100px;height:80px; align-self:flex-start; border-radius:50px" />*@

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="nav-link flex-row cava-title" href="#">
                <img src="~/Content/images/Icons/icon2.png" style="height:90px;width:150px;border-radius:20px" />
                <span class="sr-only">(current)</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a id="menu-experience-id" class="nav-link btn btn-primary mr-3">
                            EXPERIENCIA
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-bar-id" href="#" class="nav-link btn btn-primary mr-3">CANTINA</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-kitchen-id" href="#" class="nav-link btn btn-primary mr-3">COCINA</a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-reservation-id" href="#" class="nav-link btn btn-danger mr-3">RESERVAS</a>
                    </li>
                </ul>

                <img src="~/Content/images/Icons/icon3.png" style="height:50px;width:110px;border-radius:20px" />
            </div>
        </nav>
    </div>
    <div class="container body-content pt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
